<nav class="navbar">
  <span class="logo">Menü</span>

  <div class="menu">
    <button routerLink="/booking">Foglalásaim</button>
    <button (click)="logout()">Kijelentkezés</button>
  </div>
</nav>

<div class="container">
  <h2>Pilates órák</h2>

  <pre>{{ sessions | json }}</pre>

  <p class="message success" *ngIf="message">{{ message }}</p>
  <p class="message error" *ngIf="error">{{ error }}</p>

  <p *ngIf="loading">Betöltés...</p>

  <div *ngIf="!loading">
  <div class="class-card" *ngFor="let c of sessions">
    <div class="info">
      <p class="type">{{ c.classtype }}</p>
      <p class="teacher">{{ c.teacher }}</p>

      <p class="date">
        {{ c.time | date:'yyyy.MM.dd (EEEE) HH:mm' }}
      </p>

      <p class="slots">
        Szabad hely:
        <strong>{{ getFreeSpots(c) }}</strong>
      </p>
    </div>

    <button
      [disabled]="getFreeSpots(c) === 0"
      (click)="bookClass(c)">
      Jelentkezés
    </button>
  </div>

  <p class="empty" *ngIf="sessions.length === 0 && !loading && !error">
    Jelenleg nincs elérhető pilates óra.
  </p>
</div>
</div>
