<div class="page-wrapper">

  <div class="top-actions">
    <button class="soft-btn" routerLink="/booking">
      Foglalásaim
    </button>
  </div>

  <h1>Pilates órák</h1>

  <div *ngIf="error" class="error">{{ error }}</div>

  <ng-container *ngIf="sessions.length > 0; else noData">

    <div class="oras-grid">
      <div class="ora-card" *ngFor="let ora of sessions">

        <h2>{{ ora.classtype }}</h2>

        <div>
          Oktató: {{ ora.teacher }}
        </div>

        <div>
          Időpont:
          {{ ora.time | date:'yyyy.MM.dd. HH:mm' }}
        </div>

        <div>
          Szabad helyek: {{ ora.capacity - ora.bookedspots }}
        </div>

        <button (click)="bookSession(ora)">
          Foglalás
        </button>

      </div>
    </div>
  </ng-container>

  <ng-template #noData>
    <div>Nincs elérhető óra.</div>
  </ng-template>

</div>
