<!-- Felső menü -->
<nav class="navbar">
  <span class="logo">Pilates</span>

  <div class="menu">
    <button routerLink="/booking">Foglalásaim</button>
    <button (click)="logout()">Kijelentkezés</button>
  </div>
</nav>

<div class="container">
  <h2>Pilates órák</h2>

  <p class="message success" *ngIf="message">
    {{ message }}
  </p>

  <div class="class-card" *ngFor="let c of classes">
    <div class="info">
      <p class="date">
        {{ c.datum | date:'yyyy.MM.dd (EEEE) HH:mm' }}
      </p>

      <p class="slots">
        Szabad férőhely:
        <strong>{{ getFreeSlots(c) }}</strong>
      </p>

    <p class="already" *ngIf="isAlreadyBooked(c)">
      ✔ Már jelentkeztél erre az órára
    </p>
  </div>

    <button
      [disabled]="getFreeSlots(c) === 0"
      (click)="bookClass(c)">
      Jelentkezés
    </button>
  </div>

  <p class="empty" *ngIf="classes.length === 0">
    Jelenleg nincs elérhető pilates óra.
  </p>
</div>
